body {
    background-image: url(/assets/images/code-1839406.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover; 

}
.cimek
{
    margin-left: 40px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48pt;
    text-shadow: 5 px chartreuse;
}


  .kepszoveg {
    position: absolute;
    top: 50px;
    left: 16px;
    transform: translate(-50%, -50%);
  }
  .keret{
   
    border: 20px;
    border-style: solid;
    width: 50%;
   
  }
  img {
    max-width: 100%;
    max-height: 100%;
}